<ul class="nav" style="margin-top:10px;">
  <img src="assets/imgs/logo.jpg" class="logo">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/about']">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/projects']">Web Dev</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/photo']">Photography</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/video']">Video</a>
  </li>
</ul>
<hr>
<div class="title">
  <br>
  <h3 class="animated fadeInLeft">Photography</h3>
</div>
<div class="rowz">
  <div class="column">
    <div class="cont">
      <img src="assets/imgs/hb.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Huntington Beach</p>
      </div>
    </div>
    <div class="cont">
      <img src="assets/imgs/manhattan.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Manhattan Beach</p>
      </div>
    </div>
    <div class="cont">
      <img src="assets/imgs/sunset_two.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Sunset Manhattan</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="cont">
      <img src="assets/imgs/ollie.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Ollie</p>
      </div>
    </div>
    <div class="cont">
      <img src="assets/imgs/cascade.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Adirondacks</p>
      </div>
    </div>
    <div class="cont">
      <img src="assets/imgs/explore.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Abandoned Zoo</p>
      </div>
    </div>
    <div class="cont">
      <img src="assets/imgs/slide.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">BS Boardslide</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="cont">
      <img src="assets/imgs/westchester.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Westchester</p>
      </div>
    </div>
    <div class="cont">
      <img src="assets/imgs/cindy.png" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Cindy</p>
      </div>
    </div>
    <div class="cont">
      <img src="assets/imgs/courthouse.jpg" class="animated fadeIn slower">
      <div class="overlay">
        <p class="text">Courthouse</p>
      </div>
    </div>

  </div>
  <div class="column">
      <div class="cont">
          <img src="assets/imgs/studio_two.jpg" class="animated fadeIn slower">
          <div class="overlay">
            <p class="text">Ceramic Studio</p>
          </div>
        </div>
        <div class="cont">
            <img src="assets/imgs/studio_one.jpg" class="animated fadeIn slower">
                        <div class="overlay">
              <p class="text">Ceramic Studio Two</p>
            </div>
          </div>
          <div class="cont">
              <img src="assets/imgs/sunset.jpg" class="animated fadeIn slower">
              <div class="overlay">
                <p class="text">Westchester Sunset</p>
              </div>
            </div>
  </div>
</div>