<ul class="nav" style="margin-top:10px;">
  <img src="assets/imgs/logo.jpg" class="logo">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/about']">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/projects']">Web Dev</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/photo']">Photography</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/video']">Video</a>
  </li>
</ul>

<hr>
<div class="title">
  <br>
  <h3 class="animated fadeInLeft">Who am I?</h3>
</div>
<div class="container" class="mx-auto">
  <div class="row" >
      <div class="col-sm">
          <div class="container">
            <div class="animated fadeIn slower">
                <img src="assets/imgs/portrait.jpg" class="portrait">
            </div>
          </div>
        </div>
    <div class="col-sm">
      <div class="word-box">
        <h5 class="animated fadeIn slower">Hello there! </h5>
        <p class="animated fadeIn slower">
            I’m a full-stack developer most familiar with the
            MEAN and Python Stacks. I have a keen interest 
            in culture, aesthetics, and technology! I am also 
            a video editor/photographer and enjoy creating engaging 
            content. For photo and 
            video post-production I use Adobe Premiere, Final Cut Pro,
            Adobe Lightroom, and VSCO!
            <br>
            Additionally, I believe my creative outlook, 
            persistent nature, and former experience have
            well-equipped me to solve problems on the daily!
            
            If I’m not at my computer, you can catch me 
            skating down the beach or at the skatepark!</p>
            <hr>
            <div class="animated fadeIn slower">
                <a href="https://www.linkedin.com/in/sdc/" class="fa fa-linkedin" target="blank"></a>
                <a href="https://vimeo.com/user37749036" class="fa fa-vimeo" target="blank"></a>
                <a href="https://github.com/cisneross" class="fa fa-github" target="blank"></a>
            </div>

      </div>
    </div>
    <!-- <div class="col-sm"></div> -->
  </div>
</div>